body {
  max-width: 1500px;
  color: #000;
  font-family: "UberMoveText", sans-serif;
  margin: 0px;
  display: flex;
  align-content: center;
}

.menu-wrapper {
  font-family: Arial, Verdana;
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 0px;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
  width: fit-content;
  .menu-iconos-header {
    flex-wrap: nowrap;
    overflow-x: auto;

    /*&::-webkit-scrollbar {
            display: none;
        }*/
  }

  .icono-imagen {
    width: 60px;
    height: 60px;

    &:hover {
      background-color: rgb(226, 226, 226);
      cursor: pointer;
    }
  }

  .icono-comida {
    max-width: 80px;
    p {
      font-weight: bold;
      font-size: 12px;
      color: black;
    }
  }
}

.cartas-principales {
  flex-wrap: nowrap;
  #element::-webkit-scrollbar {
    display: none;
  }
}

.drop-down {
  overflow-x: auto;
  position: sticky;
  overflow-y: hidden;
  display: flex;
  flex-basis: auto;
  flex-wrap: nowrap;
}

.container-drop {
  width: 25%;
  .container {
    max-width: 1395px;
  }
}

.wrap-buttons {
  padding: 4px;
  background: #eeeeee;
  height: 48px;
  border-radius: 300px;
  display: flex;
  box-sizing: border-box;
}

.button-direccion {
  background: #eeeeee;
}

.sesion {
  height: 16px;
  width: 16px;
}
.carrito {
  height: 16px;
  width: 16px;
  background-color: #eeeeee;
}
.botones-precio {
  display: inline-block;
}

.imagenes-boton {
  height: 16px;
  width: 16px;
}

.switch-boton {
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: black !important;
}

input[type="range"]::-webkit-slider-thumb {
  background: black !important;
}
input[type="range"]::-ms-thumb {
  background: black !important;
}

.page-wrapper {
  max-width: 1400px;
  display: flex;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}
